@import "tailwindcss";

@theme {
  --font-jf-openhunnian: "JF Openhunnian", sans-serif;

  --color-dark: #363636;
  --color-sub: #787878;
}

@layer base {
  * {
    @apply select-none font-jf-openhunnian;
  }
}

@utility section {
  @apply relative h-dvh w-screen overflow-x-hidden;
}

@utility link {
  @apply text-sub duration-150 hover:scale-125 hover:text-dark;
}

@layer base {
  @font-face {
    font-family: "JF Openhunnian";
    src: url("fonts/jf-openhuninn-2.1.ttf") format("truetype");
  }
}